latex/node-red-flow.txt
[
  {
    "id": "bd7b79c3fbf5417a",
    "type": "mqtt in",
    "z": "28972163d1638f7e",
    "name": "Nhận cảm biến",
    "topic": "iot/farm/env",
    "qos": "0",
    "datatype": "json",
    "broker": "d4179fb10b941343",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [
      [
        "f8a1gaugefn01",
        "f8a1gaugefn02",
        "f8a1gaugefn03",
        "9e2f992ea37b88e9",
        "ef65ccde2a9dc727",
        "ef65ccde2a9dc728",
        "a31199f64a6ad255",
        "b8e99199386b9667",
        "01e7a8e29907dd5c",
        "e57427a9f993e160"
      ]
    ]
  },
  {
    "id": "f8a1gaugefn01",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Gauge: nhiệt độ",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar t = parseFloat(p.temperature);\nif (isNaN(t)) return null;\nmsg.payload = t;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 200,
    "wires": [
      [
        "f8a1gaugeui01"
      ]
    ]
  },
  {
    "id": "f8a1gaugefn02",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Gauge: độ ẩm KK",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar h = parseFloat(p.humidity);\nif (isNaN(h)) return null;\nmsg.payload = h;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 260,
    "wires": [
      [
        "f8a1gaugeui02"
      ]
    ]
  },
  {
    "id": "f8a1gaugefn03",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Gauge: độ ẩm đất",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar s = parseFloat(p.soilMoisture);\nif (isNaN(s)) return null;\nmsg.payload = s;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 320,
    "wires": [
      [
        "f8a1gaugeui03"
      ]
    ]
  },
  {
    "id": "f8a1gaugeui01",
    "type": "ui_gauge",
    "z": "28972163d1638f7e",
    "name": "Gauge nhiệt độ",
    "group": "f1e2d3c4b5a69708",
    "order": 2,
    "width": "8",
    "height": "5",
    "gtype": "gage",
    "title": "Nhiệt độ (°C)",
    "label": "°C",
    "format": "{{payload}}",
    "min": 0,
    "max": 100,
    "colors": [
      "#00b050",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "33",
    "seg2": "67",
    "diff": false,
    "className": "",
    "x": 620,
    "y": 200,
    "wires": []
  },
  {
    "id": "f8a1gaugeui02",
    "type": "ui_gauge",
    "z": "28972163d1638f7e",
    "name": "Gauge độ ẩm KK",
    "group": "f1e2d3c4b5a69708",
    "order": 3,
    "width": "8",
    "height": "5",
    "gtype": "donut",
    "title": "Độ ẩm KK (%)",
    "label": "%",
    "format": "{{payload}}",
    "min": 0,
    "max": 100,
    "colors": [
      "#00b050",
      "#ff9900",
      "#ca3838"
    ],
    "seg1": "33",
    "seg2": "67",
    "diff": false,
    "className": "",
    "x": 850,
    "y": 200,
    "wires": []
  },
  {
    "id": "f8a1gaugeui03",
    "type": "ui_gauge",
    "z": "28972163d1638f7e",
    "name": "Gauge độ ẩm đất",
    "group": "d2ca79a83590b557",
    "order": 2,
    "width": "12",
    "height": "6",
    "gtype": "donut",
    "title": "Độ ẩm đất (%)",
    "label": "%",
    "format": "{{payload}}",
    "min": 0,
    "max": 100,
    "colors": [
      "#ca3838",
      "#ff9900",
      "#00b050"
    ],
    "seg1": "30",
    "seg2": "60",
    "diff": false,
    "className": "",
    "x": 620,
    "y": 320,
    "wires": []
  },
  {
    "id": "9e2f992ea37b88e9",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "f1e2d3c4b5a69708",
    "order": 1,
    "width": "16",
    "height": "3",
    "name": "Hiển thị nhiệt độ",
    "label": "",
    "format": "<div style=\"display:flex;align-items:center;justify-content:center;height:100%\"><div style=\"text-align:center\"><div style=\"font-size:14px;opacity:0.8;margin-bottom:6px\">🌡 Nhiệt độ không khí</div><span style=\"font-size:42px;font-weight:700;line-height:1.1\">{{msg.payload.temperature}}<span style=\"font-size:24px\">°C</span></span></div></div>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 400,
    "y": 100,
    "wires": []
  },
  {
    "id": "ef65ccde2a9dc727",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "f1e2d3c4b5a69708",
    "order": 1,
    "width": "16",
    "height": "3",
    "name": "Hiển thị độ ẩm KK",
    "label": "",
    "format": "<div style=\"display:flex;align-items:center;justify-content:center;height:100%\"><div style=\"text-align:center\"><div style=\"font-size:14px;opacity:0.8;margin-bottom:6px\">💧 Độ ẩm không khí</div><span style=\"font-size:42px;font-weight:700;line-height:1.1\">{{msg.payload.humidity}}<span style=\"font-size:24px\">%</span></span></div></div>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 760,
    "y": 100,
    "wires": []
  },
  {
    "id": "ef65ccde2a9dc728",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "d2ca79a83590b557",
    "order": 1,
    "width": "12",
    "height": "3",
    "name": "Hiển thị độ ẩm đất",
    "label": "",
    "format": "<div style=\"display:flex;align-items:center;justify-content:center;height:100%\"><div style=\"text-align:center\"><div style=\"font-size:14px;opacity:0.8;margin-bottom:6px\">🌱 Độ ẩm đất</div><span style=\"font-size:42px;font-weight:700;line-height:1.1\">{{msg.payload.soilMoisture}}<span style=\"font-size:24px\">%</span></span></div></div>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 620,
    "y": 240,
    "wires": []
  },
  {
    "id": "a31199f64a6ad255",
    "type": "switch",
    "z": "28972163d1638f7e",
    "name": "Nhiệt độ > 35°C",
    "property": "payload.temperature",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "35",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 380,
    "y": 420,
    "wires": [
      [
        "f9a1toastfn01"
      ]
    ]
  },
  {
    "id": "f9a1toastfn01",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Toast text: nhiệt",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nvar t = p && p.temperature != null ? Number(p.temperature) : NaN;\nif (isNaN(t)) return null;\nmsg.payload = '⚠️ Nhiệt độ cao: ' + t + '°C';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 420,
    "wires": [
      [
        "425f5a8bf7c2a0b5"
      ]
    ]
  },
  {
    "id": "425f5a8bf7c2a0b5",
    "type": "ui_toast",
    "z": "28972163d1638f7e",
    "position": "bottom left",
    "displayTime": "8",
    "outputs": 0,
    "className": "",
    "name": "Thông báo nhiệt độ",
    "x": 820,
    "y": 420,
    "wires": []
  },
  {
    "id": "b8e99199386b9667",
    "type": "switch",
    "z": "28972163d1638f7e",
    "name": "Độ ẩm đất < 30% (khô)",
    "property": "payload.soilMoisture",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "30",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 380,
    "y": 500,
    "wires": [
      [
        "f9a1toastfn02",
        "dbb4a8c895814460"
      ]
    ]
  },
  {
    "id": "f9a1toastfn02",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Toast text: đất khô",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nvar s = p && p.soilMoisture != null ? Number(p.soilMoisture) : NaN;\nif (isNaN(s)) return null;\nmsg.payload = '🌵 Đất khô: ' + s + '% — cần tưới';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 500,
    "wires": [
      [
        "e9272ea0978a6ed1"
      ]
    ]
  },
  {
    "id": "e9272ea0978a6ed1",
    "type": "ui_toast",
    "z": "28972163d1638f7e",
    "position": "bottom left",
    "displayTime": "8",
    "outputs": 0,
    "className": "",
    "name": "Thông báo đất khô",
    "x": 820,
    "y": 500,
    "wires": []
  },
  {
    "id": "dbb4a8c895814460",
    "type": "switch",
    "z": "28972163d1638f7e",
    "name": "Chế độ tưới tự động",
    "property": "manual",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "true",
        "vt": "bool"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 620,
    "y": 540,
    "wires": [
      [
        "df4e79c154d58a50"
      ]
    ]
  },
  {
    "id": "df4e79c154d58a50",
    "type": "change",
    "z": "28972163d1638f7e",
    "name": "Bật bơm 5s",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"pump\":true,\"duration\":5}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 540,
    "wires": [
      [
        "52d4228c218a253a"
      ]
    ]
  },
  {
    "id": "01e7a8e29907dd5c",
    "type": "switch",
    "z": "28972163d1638f7e",
    "name": "Độ ẩm đất < 30% (cần tưới)",
    "property": "payload.soilMoisture",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "30",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 380,
    "y": 620,
    "wires": [
      [
        "c90822af4a63eb54"
      ]
    ]
  },
  {
    "id": "c90822af4a63eb54",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Hiện trạng bơm",
    "func": "var s = msg.payload.soilMoisture;\nvar p = msg.payload.pumpStatus ? 'ON 🟢' : 'OFF 🔴';\nmsg.payload = '🚿 Cần tưới — Độ ẩm đất: ' + (s != null ? s : '?') + '% | Bơm: ' + p;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 620,
    "wires": [
      [
        "22c86325ecbf70be"
      ]
    ]
  },
  {
    "id": "22c86325ecbf70be",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "d2ca79a83590b557",
    "order": 4,
    "width": "12",
    "height": "3",
    "name": "Trạng thái tưới",
    "label": "",
    "format": "<span style=\"font-size:15px;line-height:1.4\">{{msg.payload}}</span>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#1b5e20",
    "x": 860,
    "y": 620,
    "wires": []
  },
  {
    "id": "e57427a9f993e160",
    "type": "switch",
    "z": "28972163d1638f7e",
    "name": "Độ ẩm đất < 20% (nguy hiểm)",
    "property": "payload.soilMoisture",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "20",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 380,
    "y": 700,
    "wires": [
      [
        "673687e437ae8622"
      ]
    ]
  },
  {
    "id": "673687e437ae8622",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Hiện cảnh báo BUZZER",
    "func": "var s = msg.payload.soilMoisture;\nmsg.payload = '🔔 CẢNH BÁO: Đất khô nghiêm trọng (' + (s != null ? s : '?') + '%) — Bật BUZZER trên thiết bị!';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 700,
    "wires": [
      [
        "ac643c3a74928b73"
      ]
    ]
  },
  {
    "id": "ac643c3a74928b73",
    "type": "ui_text",
    "z": "28972163d1638f7e",
    "group": "d2ca79a83590b557",
    "order": 5,
    "width": "12",
    "height": "2",
    "name": "Cảnh báo Buzzer",
    "format": "<span style=\"font-size:14px;line-height:1.4;color:#b71c1c;font-weight:600\">{{msg.payload}}</span>",
    "layout": "row-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "",
    "x": 860,
    "y": 700,
    "wires": []
  },
  {
    "id": "cc5a9fcda823fb39",
    "type": "ui_chart",
    "z": "28972163d1638f7e",
    "name": "Biểu đồ nhiệt độ",
    "group": "f1e2d3c4b5a69708",
    "order": 4,
    "width": "16",
    "height": "4",
    "label": "chart",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "10",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#e74c3c",
      "#aec7e8",
      "#ff7f0e",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1100,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "b91420f0802c3665",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Chart: nhiệt độ (số)",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar t = parseFloat(p.temperature);\nif (isNaN(t)) return null;\nmsg.payload = t;\nmsg.topic = 'Nhiệt độ °C';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 200,
    "wires": [
      [
        "cc5a9fcda823fb39"
      ]
    ]
  },
  {
    "id": "2c3a97d97ea9da30",
    "type": "ui_chart",
    "z": "28972163d1638f7e",
    "name": "Biểu đồ độ ẩm đất",
    "group": "d2ca79a83590b557",
    "order": 6,
    "width": "12",
    "height": "4",
    "label": "chart",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": 1,
    "removeOlderPoints": "10",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#8B4513",
      "#aec7e8",
      "#2ca02c",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1100,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "b24a110f89916cc1",
    "type": "function",
    "z": "28972163d1638f7e",
    "name": "Chart: độ ẩm đất (số)",
    "func": "var p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\nvar s = parseFloat(p.soilMoisture);\nif (isNaN(s)) return null;\nmsg.payload = s;\nmsg.topic = 'Độ ẩm đất %';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 320,
    "wires": [
      [
        "2c3a97d97ea9da30"
      ]
    ]
  },
  {
    "id": "9782277746682320",
    "type": "ui_button",
    "z": "28972163d1638f7e",
    "name": "Bật/Tắt bơm",
    "group": "22743ae4eedbebe6",
    "order": 1,
    "width": "6",
    "height": "2",
    "passthru": false,
    "label": "Bật bơm",
    "tooltip": "",
    "color": "#ffffff",
    "bgcolor": "#2e7d32",
    "className": "",
    "icon": "fa-tint",
    "payload": "{\"pump\":true,\"duration\":5}",
    "payloadType": "json",
    "topic": "iot/farm/control",
    "topicType": "str",
    "x": 120,
    "y": 820,
    "wires": [
      [
        "52d4228c218a253a"
      ]
    ]
  },
  {
    "id": "a1234567890abcdef",
    "type": "ui_button",
    "z": "28972163d1638f7e",
    "name": "Tắt bơm",
    "group": "22743ae4eedbebe6",
    "order": 2,
    "width": "6",
    "height": "2",
    "passthru": false,
    "label": "Tắt bơm",
    "tooltip": "",
    "color": "#ffffff",
    "bgcolor": "#c62828",
    "className": "",
    "icon": "fa-power-off",
    "payload": "{\"pump\":false,\"duration\":0}",
    "payloadType": "json",
    "topic": "iot/farm/control",
    "topicType": "str",
    "x": 300,
    "y": 820,
    "wires": [
      [
        "52d4228c218a253a"
      ]
    ]
  },
  {
    "id": "9269adf2dde7a036",
    "type": "ui_switch",
    "z": "28972163d1638f7e",
    "name": "Tưới tự động",
    "label": "Tưới tự động",
    "tooltip": "Bật để ESP32 tự bật bơm khi đất khô",
    "group": "22743ae4eedbebe6",
    "order": 3,
    "width": "12",
    "height": "2",
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "topicType": "str",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 120,
    "y": 880,
    "wires": [
      [
        "f0dd0c472d5d7e77"
      ]
    ]
  },
  {
    "id": "f0dd0c472d5d7e77",
    "type": "change",
    "z": "28972163d1638f7e",
    "name": "Set flow.manual",
    "rules": [
      {
        "t": "set",
        "p": "manual",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "52d4228c218a253a",
    "type": "mqtt out",
    "z": "28972163d1638f7e",
    "name": "Gửi điều khiển bơm",
    "topic": "iot/farm/control",
    "qos": "0",
    "retain": "false",
    "broker": "d4179fb10b941343",
    "x": 520,
    "y": 820,
    "wires": []
  },
  {
    "id": "d4179fb10b941343",
    "type": "mqtt-broker",
    "name": "Smart",
    "broker": "b1c8f2cc5cd4416fb74b671a407dc0ff.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": "",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "f1e2d3c4b5a69708",
    "type": "ui_group",
    "name": "Không khí",
    "tab": "2ec7089e7e446577",
    "order": 2,
    "disp": true,
    "width": "16",
    "collapse": false,
    "className": ""
  },
  {
    "id": "d2ca79a83590b557",
    "type": "ui_group",
    "name": "Đất & Tưới",
    "tab": "2ec7089e7e446577",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "22743ae4eedbebe6",
    "type": "ui_group",
    "name": "Điều khiển",
    "tab": "2ec7089e7e446577",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "2ec7089e7e446577",
    "type": "ui_tab",
    "name": "AgriSense",
    "icon": "fa-leaf",
    "order": 1
  },
  {
    "id": "b71f21b1ed76d1c3",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-dashboard": "3.6.6"
    }
  }
]
